.backGroundModal{
    width:100vw;
    height:100vh;
    // background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    position: relative;
    .containerModal{
        width:90%;
        max-width: 600px;
        // height:calc( 90% - 0px );
        max-height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        border: 1px silver solid;
        border-radius: 8px;
        .composantMap{
            width: 100%;
            height: calc(100% - 120px);
            border: 1px silver solid;
        }
        .infoModal{
            width: 100%;
            height: auto;
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }
}