.App-header {
  background-color: #ffffff;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 0px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 5;
  position: relative;
  user-select: none;

  .left {
    .logo {
      text-decoration: none;
      color: #1c4d85;
      display: flex;
      align-items: center;
      font-size: 24px;
      transition:
        color 0.3s ease,
        transform 0.3s ease;
      cursor: pointer;
      font-weight: bold;

      img {
        margin-right: 10px;
        transition: transform 0.3s ease;
      }

      &:hover {
        color: #61dafb;

        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    button {
      height: 36px;
      border-radius: 15px;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      display: flex;
      align-items: center;
      background-color: transparent;

      transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 153, 51, 0.75);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }

      &:active {
        background-color: rgba(255, 153, 51, 0.75);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        transform: translateY(0px);
      }
    }
  }
}
